# Data Frame Manipulation -- R data.table
Basic data frame manipulation using base R data.table.

In [1]:
library(data.table)
library(magrittr)

## Load csv

In [2]:
dt <- data.table::fread("../_data/titanic.csv")
head(dt, 3)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S

## Summary

In [3]:
# Rows
nrow(dt)

[1] 891

In [4]:
# Columns
length(dt)

[1] 12

In [5]:
# Inspect types
str(dt)

Classes ‘data.table’ and 'data.frame':	891 obs. of  12 variables:
 $ PassengerId: int  1 2 3 4 5 6 7 8 9 10 ...
 $ Survived   : int  0 1 1 1 0 0 0 0 1 1 ...
 $ Pclass     : int  3 1 3 1 3 3 1 3 3 2 ...
 $ Name       : chr  "Braund, Mr. Owen Harris" "Cumings, Mrs. John Bradley (Florence Briggs Thayer)" "Heikkinen, Miss. Laina" "Futrelle, Mrs. Jacques Heath (Lily May Peel)" ...
 $ Sex        : chr  "male" "female" "female" "female" ...
 $ Age        : num  22 38 26 35 35 NA 54 2 27 14 ...
 $ SibSp      : int  1 1 0 1 0 0 0 3 0 1 ...
 $ Parch      : int  0 0 0 0 0 0 0 1 2 0 ...
 $ Ticket     : chr  "A/5 21171" "PC 17599" "STON/O2. 3101282" "113803" ...
 $ Fare       : num  7.25 71.28 7.92 53.1 8.05 ...
 $ Cabin      : chr  "" "C85" "" "C123" ...
 $ Embarked   : chr  "S" "C" "S" "S" ...
 - attr(*, ".internal.selfref")=<externalptr>

In [6]:
# Descriptive statistics
summary(dt)

  PassengerId       Survived          Pclass          Name
 Min.   :  1.0   Min.   :0.0000   Min.   :1.000   Length:891
 1st Qu.:223.5   1st Qu.:0.0000   1st Qu.:2.000   Class :character
 Median :446.0   Median :0.0000   Median :3.000   Mode  :character
 Mean   :446.0   Mean   :0.3838   Mean   :2.309
 3rd Qu.:668.5   3rd Qu.:1.0000   3rd Qu.:3.000
 Max.   :891.0   Max.   :1.0000   Max.   :3.000

     Sex                 Age            SibSp           Parch
 Length:891         Min.   : 0.42   Min.   :0.000   Min.   :0.0000
 Class :character   1st Qu.:20.12   1st Qu.:0.000   1st Qu.:0.0000
 Mode  :character   Median :28.00   Median :0.000   Median :0.0000
                    Mean   :29.70   Mean   :0.523   Mean   :0.3816
                    3rd Qu.:38.00   3rd Qu.:1.000   3rd Qu.:0.0000
                    Max.   :80.00   Max.   :8.000   Max.   :6.0000
                    NA's   :177
    Ticket               Fare           Cabin             Embarked
 Length:891         Min.   :  0.00   Length:891         Length:891
 Class :character   1st Qu.:  7.91   Class :character   Class :character
 Mode  :character   Median : 14.45   Mode  :character   Mode  :character
                    Mean   : 32.20
                    3rd Qu.: 31.00
                    Max.   :512.33

## Slice data

In [7]:
# Select rows by number
dt[2:4,]

  PassengerId Survived Pclass
1 2           1        1
2 3           1        3
3 4           1        1
  Name                                                Sex    Age SibSp Parch
1 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
2 Heikkinen, Miss. Laina                              female 26  0     0
3 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
  Ticket           Fare    Cabin Embarked
1 PC 17599         71.2833 C85   C
2 STON/O2. 3101282  7.9250       S
3 113803           53.1000 C123  S

In [8]:
# Select rows by condition
dt[Survived == 1,] %>% head(4)

  PassengerId Survived Pclass
1 2           1        1
2 3           1        3
3 4           1        1
4 9           1        3
  Name                                                Sex    Age SibSp Parch
1 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
2 Heikkinen, Miss. Laina                              female 26  0     0
3 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
4 Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   female 27  0     2
  Ticket           Fare    Cabin Embarked
1 PC 17599         71.2833 C85   C
2 STON/O2. 3101282  7.9250       S
3 113803           53.1000 C123  S
4 347742           11.1333       S

In [9]:
# Select rows by multiple conditions
dt[Survived == 1 & Sex == "female",] %>% head(3)

  PassengerId Survived Pclass
1 2           1        1
2 3           1        3
3 4           1        1
  Name                                                Sex    Age SibSp Parch
1 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
2 Heikkinen, Miss. Laina                              female 26  0     0
3 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
  Ticket           Fare    Cabin Embarked
1 PC 17599         71.2833 C85   C
2 STON/O2. 3101282  7.9250       S
3 113803           53.1000 C123  S

In [10]:
# Select columns by name
dt[, .(Survived, Pclass)] %>% head(3)

  Survived Pclass
1 0        3
2 1        1
3 1        3

## Assign values

In [11]:
# Assign a (new) column
dt[, sparkles := 8]
head(dt, 3)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
  Ticket           Fare    Cabin Embarked sparkles
1 A/5 21171         7.2500       S        8
2 PC 17599         71.2833 C85   C        8
3 STON/O2. 3101282  7.9250       S        8

In [12]:
# Assign value to some rows
dt[Survived == 1, sparkles := 3]
head(dt, 3)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
  Ticket           Fare    Cabin Embarked sparkles
1 A/5 21171         7.2500       S        8
2 PC 17599         71.2833 C85   C        3
3 STON/O2. 3101282  7.9250       S        3

## Group by

## Reshape

In [13]:
# Gather / melt

In [14]:
# Spread / cast / pivot

## Join

## Creation

In [15]:
dt2 <- data.table::data.table(
    x = c(1,2,3)
    , y = c('a', 'b', 'c')
    , z = c(TRUE, FALSE, TRUE)
)
dt2

  x y z
1 1 a  TRUE
2 2 b FALSE
3 3 c  TRUE