# Data Frame Manipulation -- Base R data.frame
Basic data frame manipulation using base R data frames.

In [1]:
library(magrittr)

## Load csv

In [2]:
df <- read.csv("../_data/titanic.csv")
head(df, 3)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S

## Summary

In [3]:
# Rows
nrow(df)

[1] 891

In [4]:
# Columns
length(df)

[1] 12

In [5]:
# Inspect types
str(df)

'data.frame':	891 obs. of  12 variables:
 $ PassengerId: int  1 2 3 4 5 6 7 8 9 10 ...
 $ Survived   : int  0 1 1 1 0 0 0 0 1 1 ...
 $ Pclass     : int  3 1 3 1 3 3 1 3 3 2 ...
 $ Name       : Factor w/ 891 levels "Abbing, Mr. Anthony",..: 109 191 358 277 16 559 520 629 417 581 ...
 $ Sex        : Factor w/ 2 levels "female","male": 2 1 1 1 2 2 2 2 1 1 ...
 $ Age        : num  22 38 26 35 35 NA 54 2 27 14 ...
 $ SibSp      : int  1 1 0 1 0 0 0 3 0 1 ...
 $ Parch      : int  0 0 0 0 0 0 0 1 2 0 ...
 $ Ticket     : Factor w/ 681 levels "110152","110413",..: 524 597 670 50 473 276 86 396 345 133 ...
 $ Fare       : num  7.25 71.28 7.92 53.1 8.05 ...
 $ Cabin      : Factor w/ 148 levels "","A10","A14",..: 1 83 1 57 1 1 131 1 1 1 ...
 $ Embarked   : Factor w/ 4 levels "","C","Q","S": 4 2 4 4 4 3 4 4 4 2 ...

In [6]:
# Descriptive statistics
summary(df)

  PassengerId       Survived          Pclass
 Min.   :  1.0   Min.   :0.0000   Min.   :1.000
 1st Qu.:223.5   1st Qu.:0.0000   1st Qu.:2.000
 Median :446.0   Median :0.0000   Median :3.000
 Mean   :446.0   Mean   :0.3838   Mean   :2.309
 3rd Qu.:668.5   3rd Qu.:1.0000   3rd Qu.:3.000
 Max.   :891.0   Max.   :1.0000   Max.   :3.000

                                    Name         Sex           Age
 Abbing, Mr. Anthony                  :  1   female:314   Min.   : 0.42
 Abbott, Mr. Rossmore Edward          :  1   male  :577   1st Qu.:20.12
 Abbott, Mrs. Stanton (Rosa Hunt)     :  1                Median :28.00
 Abelson, Mr. Samuel                  :  1                Mean   :29.70
 Abelson, Mrs. Samuel (Hannah Wizosky):  1                3rd Qu.:38.00
 Adahl, Mr. Mauritz Nils Martin       :  1                Max.   :80.00
 (Other)                              :885                NA's   :177
     SibSp           Parch             Ticket         Fare
 Min.   :0.000   Min.   :0.0000   1601    :  7   Min.   :  0.00
 1st Qu.:0.000   1st Qu.:0.0000   347082  :  7   1st Qu.:  7.91
 Median :0.000   Median :0.0000   CA. 2343:  7   Median : 14.45
 Mean   :0.523   Mean   :0.3816   3101295 :  6   Mean   : 32.20
 3rd Qu.:1.000   3rd Qu.:0.0000   347088  :  6   3rd Qu.: 31.00
 Max.   :8.000   Max.   :6.0000   CA 2144 :  6   Max.   :512.33
                                  (Other) :852
         Cabin     Embarked
            :687    :  2
 B96 B98    :  4   C:168
 C23 C25 C27:  4   Q: 77
 G6         :  4   S:644
 C22 C26    :  3
 D          :  3
 (Other)    :186

## Slice data

In [7]:
# Select rows by number
df[2:4,]

  PassengerId Survived Pclass
2 2           1        1
3 3           1        3
4 4           1        1
  Name                                                Sex    Age SibSp Parch
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
  Ticket           Fare    Cabin Embarked
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S

In [8]:
# Select rows by condition
df[df[, "Survived"] == 1,] %>% head(3)

  PassengerId Survived Pclass
2 2           1        1
3 3           1        3
4 4           1        1
  Name                                                Sex    Age SibSp Parch
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
  Ticket           Fare    Cabin Embarked
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S

In [9]:
# Select rows by multiple conditions
df[df[, "Survived"] == 1 & df[, "Sex"] == "female",] %>% head(3)

  PassengerId Survived Pclass
2 2           1        1
3 3           1        3
4 4           1        1
  Name                                                Sex    Age SibSp Parch
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
  Ticket           Fare    Cabin Embarked
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S

In [10]:
# Select columns by name
df[, c("Survived", "Pclass")] %>% head(3)

  Survived Pclass
1 0        3
2 1        1
3 1        3

## Assign values

In [11]:
# Assign a (new) column
df$sparkles <- 8
head(df, 3)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
  Ticket           Fare    Cabin Embarked sparkles
1 A/5 21171         7.2500       S        8
2 PC 17599         71.2833 C85   C        8
3 STON/O2. 3101282  7.9250       S        8

In [12]:
# Assign value to some rows
df[df[, "Survived"] == 1, "sparkles"] <- 3
head(df, 3)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
  Ticket           Fare    Cabin Embarked sparkles
1 A/5 21171         7.2500       S        8
2 PC 17599         71.2833 C85   C        3
3 STON/O2. 3101282  7.9250       S        3

## Group by

## Reshape

In [13]:
# Gather / melt

In [14]:
# Spread / cast / pivot

## Join

## Creation

In [15]:
df2 <- data.frame(
    x = c(1,2,3)
    , y = c('a', 'b', 'c')
    , z = c(TRUE, FALSE, TRUE)
)
df2

  x y z
1 1 a  TRUE
2 2 b FALSE
3 3 c  TRUE